.navbar-lewagon {
  background: $my-gray;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 1.2em;
  & p {
    margin: 0px;
    padding: 8px;
    font-weight: bold;
    font-size: 2em;

  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
